.react-tabs {
    .react-tabs__tab-list {
        list-style:none;
        cursor:pointer;
        li {
            float:left;
            width:100%;
        }
        @media (min-width:1024px) {
            width: 20%;
            background: #e6e6e6;
            float: left;
            padding: 10px;
        }
    }
}